@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-bg {
  background: rgba(0, 0, 0, 0.4) url("/images/contact-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}

.img-part {
  width: 40%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-part h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 29px;
}

.img-part p {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.form-part {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input {
  width: 30rem;
  height: auto;
  padding: 15px 6px;
  margin: 10px 0px;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

form textarea {
  resize: none;
  width: 30rem;
  margin: 10px 0px;
  padding: 4rem 0rem 4rem 0.5rem;
  height: auto;
  border: 2px solid lightgray;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

form button {
  width: 30rem;
  padding: 10px 6px;
  margin: 10px 0px;
  font-family: "Poppins", sans-serif;
  background-color: #fb5607;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input,textarea:focus{
    outline: none;
}
