*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #c1c1c1; /* Transparent background */
    box-shadow: 20px 20px 60px #00000050,-20px -20px 60px #ffffff88 inset;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
  }

  .logo {
    color: black;
    font-size: 25px;
    text-decoration: none;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-grow: 1;
  }

  .nav-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 20px;
  }

  .nav-link:hover {
    color: #55a7ff;
  }

  .contact-btn {
    padding: 10px 20px;
    font-size: 19px;
    background-color: #55a7ff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .contact-btn:hover {
    background-color: #0077cc;
  }

  .contact-form{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-bg{
    background-image: url('/images/contact-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .img-part{
    width: 30%;
  }
  .form-part{
    width: 70%;
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    color: black;
    font-size: 24px;
  }
  .contact{
    display: none;
  }
  .cancel-icon{
    display: none;
  }
  /* Adjust styles for smaller screens */
  @media screen and (max-width: 768px) {
    .menu-icon {
      display: block;
    }
    .contact{
        display: block;
    }
    .contact-btn{
        display: none;
    }

    .nav-links {
      display: none;
    }
  }
.main-wrapper{
    width: 100%;
    height: 100vh;
    background-color: gainsboro;
}
